<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TSContactUsSuite" parallel="false">

	<test name="TSContactUsTest1">
		<parameter name="browser" value="chrome"></parameter>

		<classes>
			<class name="tests.ContactUsPageTest"></class>
		</classes>
	</test>
	<test name="TSContactUsTest2">
		<parameter name="browser" value="firefox"></parameter>

		<classes>
			<class name="tests.ContactUsPageTest"></class>
		</classes>
	</test>
	<test name="TSContactUsTest3">
		<parameter name="browser" value="IE"></parameter>

		<classes>
			<class name="tests.ContactUsPageTest"></class>
		</classes>
	</test>
</suite>